
body{text-align: center;
}
p{color:black;
line-height: 5px;}
h2{
  color: orange;
  line-height: 5px;
}
h1 {
  color: rgb(245, 37, 37);
}
.logo{
  text-align: center;
  height: auto;
  width: auto;
  margin: 250px;
  

}
 
